<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GBSS | 用户积分规则</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
    <!-- Sweet Alert -->
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>

    <!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    <!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>


</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation" th:include="/commons/nav :: navigation"></nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="border-bottom" th:include="/commons/header :: headerTop"></div>
            <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
                <div class="col-lg-10">
                    <h2>积分规则</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a th:href="@{/admin/dashboard}">首页</a>
                        </li>
                        <li>
                            <a>管理员模块</a>
                        </li>
                        <li class="active">
                            <strong>积分规则</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>搜索&amp;操作</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <form action="/user-point-rules/findUserPointRules">
                                    <div class="row">
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="adminId" name="adminId" placeholder="按管理员ID查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="name" name="name" placeholder="按规则名称查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="description" name="description" placeholder="按规则描述查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <button class="btn btn-primary select_btn" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-sm-6 m-b-xs">
                                        <a class="btn btn-white add_btn" data-toggle="modal" data-target="#addUserPointRules"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增积分规则&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <a class="btn btn-danger delete_btn" data-toggle="modal" data-target="#deleteAllUserPointRules"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;批量删除&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>积分规则列表</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class=" table table-hover" data-page-size="10">
                                        <thead>
                                        <tr align="center">
                                            <td width="1%"><input type="checkbox" style="margin-right: 5px" name="allcheck"/></td>
                                            <td class="col-md-1">积分规则ID</td>
                                            <td class="col-md-1">管理员ID </td>
                                            <td class="col-md-1">规则名称</td>
                                            <td class="col-md-1">规则描述</td>
                                            <td class="col-md-1">创建时间</td>
                                            <td class="col-md-1">操作</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr align="center" th:each="userPointRules : ${userPointRulesList}">
                                            <td><input type="checkbox" name="check" value="${userPointRules.ruleId}" class="del" style="margin-right: 5px" /></td>
                                            <td th:text="${userPointRules.ruleId}"></td>
                                            <td th:text="${userPointRules.adminId}"></td>
                                            <td th:text="${userPointRules.name}"></td>
                                            <td th:text="${userPointRules.description}"></td>
                                            <td th:text="${#dates.format(userPointRules.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td>
                                                <a data-toggle="modal" data-target="#updateUserPointRules" title="修改" class="userPointRulesEdit1"><i class="fa fa-edit text-navy"></i></a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <a data-toggle="modal" data-target="#deleteUserPointRules" title="删除" class="userPointRulesEdit2"><i class="fa fa-trash-o text-navy"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" th:include="/commons/footer :: footer"></div>
        </div>
    </div>

    <!-- 增加模态框，单击增加按钮，弹出表单 -->
    <div class="modal fade" id="addUserPointRules" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addUserPointRules" th:action="@{/user-point-rules/addUserPointRules}" method="post" id="AddCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">添加用户积分规则</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <div>
                            <label>管理员ID</label>
                            <input type="text" value="" id='adminIdAdd' class="form-control" name="adminId"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>规则名称</label>
                            <input type="text" value="" id='nameAdd' class="form-control" name="name"
                                   title="" required="" />
                        </div>
                        <div>
                            <label>规则描述</label>
                            <input type="text" value="" id='descriptionAdd' class="form-control" name="description"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_add" class="btn btn-primary">添加</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <!-- 修改模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="updateUserPointRules" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="updateUserPointRules" th:action="@{/user-point-rules/updateUserPointRules}" method="post" id="updateCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">修改用户积分规则</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="ruleId" value="" id="ruleId"/>
                        <!--<input type="hidden" name="status" value="1" id="status"/>-->
                        <div>
                            <label>管理员ID</label>
                            <input type="text" value="" id='adminIdUpdate' class="form-control" name="adminId"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>规则名称</label>
                            <input type="text" value="" id='nameUpdate' class="form-control" name="name"
                                   title="" required="" />
                        </div>
                        <div>
                            <label>规则描述</label>
                            <input type="text" value="" id='descriptionUpdate' class="form-control" name="description"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_update" class="btn btn-primary">修改</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->


    <!-- 删除模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="deleteUserPointRules" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/user-point-rules/deleteUserPointRules}" method="post" id="deleteCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">删除用户积分规则</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="ruleId" value="" id="ruleIdDelete"/>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">删除</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <script>
        $(".userPointRulesEdit1").click(function (){
            var ruleId = $(this).parent().parent().children().eq(1).text();
            var adminId = $(this).parent().parent().children().eq(2).text();
            var name = $(this).parent().parent().children().eq(3).text();
            var description = $(this).parent().parent().children().eq(4).text();
            $("#ruleId").val(ruleId);
            $("#adminIdUpdate").val(adminId);
            $("#nameUpdate").val(name);
            $("#descriptionUpdate").val(description);
        })

        $(".userPointRulesEdit2").click(function () {
            var ruleId = $(this).parent().parent().children().eq(1).text();
            $("#ruleIdDelete").val(ruleId);

        })
    </script>

    <script th:inline="javascript">
        var msg = [[${msg}]];
        $(document).ready(function () {
            if(msg!=null){
                swal({
                    title : "温馨提示",
                    text : msg
                });
            }
        });
    </script>
</body>
</html>