<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GBSS | 商品统计信息</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
    <!-- Sweet Alert -->
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>

    <!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    <!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>


</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation" th:include="/commons/nav :: navigation"></nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="border-bottom" th:include="/commons/header :: headerTop"></div>
            <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
                <div class="col-lg-10">
                    <h2>商品统计信息</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a th:href="@{/admin/dashboard}">首页</a>
                        </li>
                        <li>
                            <a>商品模块</a>
                        </li>
                        <li class="active">
                            <strong>商品统计信息</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>搜索&amp;操作</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <form action="/goods-statistics/findGoodsStatistics">
                                    <div class="row">
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="goodsId" name="goodsId" placeholder="按商品ID查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="visitCount" name="visitCount" placeholder="按浏览次数查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="totalSales" name="totalSales" placeholder="按销售总量查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <button class="btn btn-primary select_btn" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-sm-6 m-b-xs">
                                        <a class="btn btn-white add_btn" data-toggle="modal" data-target="#addGoodsStatistics"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增商品统计信息&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <a class="btn btn-danger delete_btn" data-toggle="modal" data-target="#deleteAllGoodsStatistics"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;批量删除&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>商品统计信息列表</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class=" table table-hover" data-page-size="10">
                                        <thead>
                                        <tr align="center">
                                            <td width="1%"><input type="checkbox" style="margin-right: 5px" name="allcheck"/></td>
                                            <td class="col-md-1">统计信息ID</td>
                                            <td class="col-md-1">商品ID</td>
                                            <td class="col-md-1">浏览次数</td>
                                            <td class="col-md-1">评论次数</td>
                                            <td class="col-md-1">销售总量</td>
                                            <td class="col-md-1">销售总金额</td>
                                            <td class="col-md-1">进货总量</td>
                                            <td class="col-md-1">进货总金额</td>
                                            <td class="col-md-1">成本均价</td>
                                            <td class="col-md-1">毛利润金额</td>
                                            <td class="col-md-1">操作</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr align="center" th:each="goodsStatistics : ${goodsStatisticsList}">
                                            <td><input type="checkbox" name="check" value="${goodsStatistics.statiticsId}" class="del" style="margin-right: 5px" /></td>
                                            <td th:text="${goodsStatistics.statisticsId}"></td>
                                            <td th:text="${goodsStatistics.goodsId}"></td>
                                            <td th:text="${goodsStatistics.visitCount}"></td>
                                            <td th:text="${goodsStatistics.replyCount}"></td>
                                            <td th:text="${goodsStatistics.totalSales}"></td>
                                            <td th:text="${goodsStatistics.totalSalesAmount}"></td>
                                            <td th:text="${goodsStatistics.inTotal}"></td>
                                            <td th:text="${goodsStatistics.inTotalAmount}"></td>
                                            <td th:text="${goodsStatistics.costPrice}"></td>
                                            <td th:text="${goodsStatistics.grossProfit}"></td>
                                            <td>
                                                <a data-toggle="modal" data-target="#updateGoodsStatistics" title="修改" class="goodsStatisticsEdit1"><i class="fa fa-edit text-navy"></i></a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <a data-toggle="modal" data-target="#deleteGoodsStatistics" title="删除" class="goodsStatisticsEdit2"><i class="fa fa-trash-o text-navy"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" th:include="/commons/footer :: footer"></div>
        </div>
    </div>

    <!-- 增加模态框，单击增加按钮，弹出表单 -->
    <div class="modal fade" id="addGoodsStatistics" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/goods-statistics/addGoodsStatistics}" method="post" id="AddCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">新增商品统计信息</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <div>
                            <label>商品ID</label>
                            <input type="text" value="" id='goodsIdAdd' class="form-control" name="goodsId"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>浏览次数</label>
                            <input type="text" value="" id='visitCountAdd' class="form-control" name="visitCount"
                                   title="" required="" />
                        </div>
                        <div>
                            <label>评论次数</label>
                            <input type="text" value="" id='replyCountAdd' class="form-control" name="replyCount"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>销售总量</label>
                            <input type="text" value="" id='totalSalesAdd' class="form-control" name="totalSales"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>销售总金额</label>
                            <input type="text" value="" id='totalSalesAmountAdd' class="form-control" name="totalSalesAmount"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>进货总量</label>
                            <input type="text" value="" id='inTotalAdd' class="form-control" name="inTotal"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>进货总金额</label>
                            <input type="text" value="" id='inTotalAmountAdd' class="form-control" name="inTotalAmount"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>成本均价</label>
                            <input type="text" value="" id='costPriceAdd' class="form-control" name="costPrice"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>毛利润金额</label>
                            <input type="text" value="" id='grossProfitAdd' class="form-control" name="grossProfit"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_add" class="btn btn-primary">添加</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <!-- 修改模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="updateGoodsStatistics" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/goods-statistics/updateGoodsStatistics}" method="post" id="updateCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">修改商品统计信息</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="statisticsId" value="" id="statisticsIdUpdate"/>
                        <!--<input type="hidden" name="status" value="1" id="status"/>-->
                        <div>
                            <label>商品ID</label>
                            <input type="text" value="" id='goodsIdUpdate' class="form-control" name="goodsId"
                                   title="" required="" readonly="readonly"/>
                        </div>
                        <div>
                            <label>浏览次数</label>
                            <input type="text" value="" id='visitCountUpdate' class="form-control" name="visitCount"
                                   title="" required="" />
                        </div>
                        <div>
                            <label>评论次数</label>
                            <input type="text" value="" id='replyCountUpdate' class="form-control" name="replyCount"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>销售总量</label>
                            <input type="text" value="" id='totalSalesUpdate' class="form-control" name="totalSales"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>销售总金额</label>
                            <input type="text" value="" id='totalSalesAmountUpdate' class="form-control" name="totalSalesAmount"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>进货总量</label>
                            <input type="text" value="" id='inTotalUpdate' class="form-control" name="inTotal"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>进货总金额</label>
                            <input type="text" value="" id='inTotalAmountUpdate' class="form-control" name="inTotalAmount"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>成本均价</label>
                            <input type="text" value="" id='costPriceUpdate' class="form-control" name="costPrice"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>毛利润金额</label>
                            <input type="text" value="" id='grossProfitUpdate' class="form-control" name="grossProfit"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_update" class="btn btn-primary">修改</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->


    <!-- 删除模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="deleteGoodsStatistics" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/goods-statistics/deleteGoodsStatistics}" method="post" id="deleteCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">删除商品统计信息</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="statisticsId" value="" id="deleteStatisticsId"/>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">删除</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <script>
        $(".goodsStatisticsEdit1").click(function (){
            var statisticsId = $(this).parent().parent().children().eq(1).text();
            var goodsId = $(this).parent().parent().children().eq(2).text();
            var visitCount = $(this).parent().parent().children().eq(3).text();
            var replyCount = $(this).parent().parent().children().eq(4).text();
            var totalSales = $(this).parent().parent().children().eq(5).text();
            var totalSalesAmount = $(this).parent().parent().children().eq(6).text();
            var inTotal = $(this).parent().parent().children().eq(7).text();
            var inTotalAmount = $(this).parent().parent().children().eq(8).text();
            var costPrice = $(this).parent().parent().children().eq(9).text();
            var grossProfit = $(this).parent().parent().children().eq(10).text();
            $("#statisticsIdUpdate").val(statisticsId);
            $("#goodsIdUpdate").val(goodsId);
            $("#visitCountUpdate").val(visitCount);
            $("#replyCountUpdate").val(replyCount);
            $("#totalSalesUpdate").val(totalSales);
            $("#totalSalesAmountUpdate").val(totalSalesAmount);
            $("#inTotalUpdate").val(inTotal);
            $("#inTotalAmountUpdate").val(inTotalAmount);
            $("#costPriceUpdate").val(costPrice);
            $("#grossProfitUpdate").val(grossProfit);
        })

        $(".goodsStatisticsEdit2").click(function () {
            var statisticsId = $(this).parent().parent().children().eq(1).text();
            $("#deleteStatisticsId").val(statisticsId);
        })

    </script>

    <script th:inline="javascript">
        var msg = [[${msg}]];
        $(document).ready(function () {
            if(msg!=null){
                swal({
                    title : "温馨提示",
                    text : msg
                });
            }
        });
    </script>
</body>
</html>