<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GBSS | 购物车</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
    <!-- Sweet Alert -->
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>

    <!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    <!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>


</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation" th:include="/commons/nav :: navigation"></nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="border-bottom" th:include="/commons/header :: headerTop"></div>
            <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
                <div class="col-lg-10">
                    <h2>购物车</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a th:href="@{/admin/dashboard}">首页</a>
                        </li>
                        <li>
                            <a>用户模块</a>
                        </li>
                        <li class="active">
                            <strong>购物车</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>搜索&amp;操作</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <form action="/shopping-cart/findShoppingCart">
                                    <div class="row">
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="userId" name="userId" placeholder="按用户id查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="goodsId" name="goodsId" placeholder="按商品id查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="number" name="number" placeholder="按购买数量查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <button class="btn btn-primary select_btn" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-sm-6 m-b-xs">
                                        <a class="btn btn-white add_btn" data-toggle="modal" data-target="#addShoppingCart"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增购物车&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <a class="btn btn-danger delete_btn" data-toggle="modal" data-target="#deleteAllShoppingCart"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;批量删除&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>购物车列表</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class=" table table-hover" data-page-size="10">
                                        <thead>
                                        <tr align="center">
                                            <td width="1%"><input type="checkbox" style="margin-right: 5px" name="allcheck"/></td>
                                            <td class="col-md-1">购物车ID</td>
                                            <td class="col-md-1">用户ID</td>
                                            <td class="col-md-1">商品ID</td>
                                            <td class="col-md-1">商品状态</td>
                                            <td class="col-md-1">购买数量</td>
                                            <td class="col-md-1">创建时间</td>
                                            <td class="col-md-1">操作</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr align="center" th:each="shoppingCart : ${shoppingCartList}">
                                            <td><input type="checkbox" name="check" value="${userDetail.detailId}" class="del" style="margin-right: 5px" /></td>
                                            <td th:text="${shoppingCart.cartId}"></td>
                                            <td th:text="${shoppingCart.userId}"></td>
                                            <td th:text="${shoppingCart.goodsId}"></td>
                                            <td th:text="${shoppingCart.status}"></td>
                                            <td th:text="${shoppingCart.number}"></td>
                                            <td th:text="${#dates.format(shoppingCart.creatTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td>
                                                <a data-toggle="modal" data-target="#updateShoppingCart" title="修改" class="shoppingCartEdit1"><i class="fa fa-edit text-navy"></i></a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <a data-toggle="modal" data-target="#deleteShoppingCart" title="删除" class="shoppingCartEdit2"><i class="fa fa-trash-o text-navy"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" th:include="/commons/footer :: footer"></div>
        </div>
    </div>

    <!-- 增加模态框，单击增加按钮，弹出表单 -->
    <div class="modal fade" id="addShoppingCart" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/shopping-cart/addShoppingCart}" method="post" id="AddCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">新增用户购物车信息</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <div>
                            <label>用户ID</label>
                            <input type="text" value="" id='userIdAdd' class="form-control" name="userId"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>商品ID</label>
                            <input type="text" value="" id='goodsIdAdd' class="form-control" name="goodsId"
                                   title="" required="" />
                        </div>
                        <div>
                            <label>商品状态</label>
                            <input type="text" value="" id='statusAdd' class="form-control" name="status"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>购买数量</label>
                            <input type="text" value="" id='numberAdd' class="form-control" name="number"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_add" class="btn btn-primary">添加</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <!-- 修改模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="updateShoppingCart" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/shopping-cart/updateShoppingCart}" method="post" id="updateCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">修改用户购物车信息</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="cartId" value="" id="cartIdUpdate"/>
                        <!--<input type="hidden" name="status" value="1" id="status"/>-->
                        <div>
                            <label>用户ID</label>
                            <input type="text" value="" id='userIdUpdate' class="form-control" name="userId"
                                   title="" required="" readonly="readonly"/>
                        </div>
                        <div>
                            <label>商品ID</label>
                            <input type="text" value="" id='goodsIdUpdate' class="form-control" name="goodsId"
                                   title="" required="" />
                        </div>
                        <div>
                            <label>商品状态</label>
                            <input type="text" value="" id='statusUpdate' class="form-control" name="status"
                                   title="" required="" readonly="readonly"/>
                        </div>
                        <div>
                            <label>购买数量</label>
                            <input type="text" value="" id='numberUpdate' class="form-control" name="number"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_update" class="btn btn-primary">修改</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->


    <!-- 删除模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="deleteShoppingCart" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/shopping-cart/deleteShoppingCart}" method="post" id="deleteCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">删除用户购物车信息</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="cartId" value="" id="deleteCartId"/>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">删除</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <script>
        $(".shoppingCartEdit1").click(function (){
            var cartId = $(this).parent().parent().children().eq(1).text();
            var userId = $(this).parent().parent().children().eq(2).text();
            var goodsId = $(this).parent().parent().children().eq(3).text();
            var status = $(this).parent().parent().children().eq(4).text();
            var number = $(this).parent().parent().children().eq(5).text();
            $("#cartIdUpdate").val(cartId);
            $("#userIdUpdate").val(userId);
            $("#goodsIdUpdate").val(goodsId);
            $("#statusUpdate").val(status);
            $("#numberUpdate").val(number);
        })

        $(".shoppingCartEdit2").click(function () {
            var cartId = $(this).parent().parent().children().eq(1).text();
            $("#deleteCartId").val(cartId);

        })
    </script>

    <script th:inline="javascript">
        var msg = [[${msg}]];
        $(document).ready(function () {
            if(msg!=null){
                swal({
                    title : "温馨提示",
                    text : msg
                });
            }
        });
    </script>
</body>
</html>