<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GBSS | 用户详情</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
    <!-- Sweet Alert -->
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>

    <!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    <!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
    <!--ip-->
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>


</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation" th:include="/commons/nav :: navigation"></nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="border-bottom" th:include="/commons/header :: headerTop"></div>
            <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
                <div class="col-lg-10">
                    <h2>用户详情</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a th:href="@{/admin/dashboard}">首页</a>
                        </li>
                        <li>
                            <a>用户模块</a>
                        </li>
                        <li class="active">
                            <strong>用户详情</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>搜索&amp;操作</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <form action="/user-detail/findUserDetail">
                                    <div class="row">
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="userId" name="userId" placeholder="按用户id查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="nickname" name="nickname" placeholder="按昵称查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="level" name="level" placeholder="按等级查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <button class="btn btn-primary select_btn" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-sm-6 m-b-xs">
                                        <a class="btn btn-white add_btn" data-toggle="modal" data-target="#addUserDetail"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增用户详情&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <a class="btn btn-danger delete_btn" data-toggle="modal" data-target="#deleteAllUserDetail"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;批量删除&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>用户列表</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class=" table table-hover" data-page-size="10">
                                        <thead>
                                        <tr align="center">
                                            <td width="1%"><input type="checkbox" style="margin-right: 5px" name="allcheck"/></td>
                                            <td class="col-md-1">详情ID</td>
                                            <td class="col-md-1">用户ID</td>
                                            <td class="col-md-1">昵称</td>
                                            <td class="col-md-1">真实姓名</td>
                                            <td class="col-md-1">性别</td>
                                            <td class="col-md-1">等级</td>
                                            <td class="col-md-1">经验值</td>
                                            <td class="col-md-1">头像url</td>
                                            <td class="col-md-1">出生日期</td>
                                            <td class="col-md-1">注册ip</td>
                                            <td class="col-md-1">注册城市</td>
                                            <td class="col-md-1">注册日期</td>
                                            <td class="col-md-1">操作</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr align="center" th:each="userDetail : ${userDetailList}">
                                            <td><input type="checkbox" name="check" value="${userDetail.detailId}" class="del" style="margin-right: 5px" /></td>
                                            <td th:text="${userDetail.detailId}"></td>
                                            <td th:text="${userDetail.userId}"></td>
                                            <td th:text="${userDetail.nickname}"></td>
                                            <td th:text="${userDetail.realname}"></td>
                                            <td th:text="${userDetail.sex}"></td>
                                            <td th:text="${userDetail.level}"></td>
                                            <td th:text="${userDetail.experience}"></td>
                                            <td th:text="${userDetail.faceUrl}"></td>
                                            <td th:text="${userDetail.birthday}"></td>
                                            <td th:text="${userDetail.registIp}"></td>
                                            <td th:text="${userDetail.registCity}"></td>
                                            <td th:text="${#dates.format(userDetail.registTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td>
                                                <a data-toggle="modal" data-target="#updateUserDetail" title="修改" class="userDetailEdit1" ><i class="fa fa-edit text-navy"></i></a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <a data-toggle="modal" data-target="#deleteUserDetail" title="删除" class="userDetailEdit2" ><i class="fa fa-trash-o text-navy"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" th:include="/commons/footer :: footer"></div>
        </div>
    </div>
    <!-- 增加模态框，单击增加按钮，弹出表单 -->
    <div class="modal fade" id="addUserDetail" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/user-detail/addUserDetail}" method="post" id="AddCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">新增用户详情</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="ip" value="" id="ip"/>
                        <input type="hidden" name="cname" value="" id="cname"/>
                        <div>
                            <label>用户ID</label>
                            <input type="text" value="" id='userIdAdd' class="form-control" name="userId"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>昵称</label>
                            <input type="text" value="" id='nicknameAdd' class="form-control" name="nickname"
                                   title="" required="" />
                        </div>
                        <div>
                            <label>真实姓名</label>
                            <input type="text" value="" id='realnameAdd' class="form-control" name="realname"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>性别</label>
                            <input type="text" value="" id='sexAdd' class="form-control" name="sex"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>出生日期</label>
                            <input type="date" value="" id='birthdayAdd' class="form-control" name="birthday"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_add" class="btn btn-primary">添加</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->

            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <!-- 修改模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="updateUserDetail" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/user-detail/updateUserDetail}" method="post" id="updateCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">修改用户详情</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="detailId" value="" id="detailIdUpdate"/>
                        <!--<input type="hidden" name="status" value="1" id="status"/>-->
                        <div>
                            <label>昵称</label>
                            <input type="text" value="" id='nicknameUpdate' class="form-control" name="nickname"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>真实姓名</label>
                            <input type="text" value="" id='realnameUpdate' class="form-control" name="realname"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>性别</label>
                            <input type="text" value="" id='sexUpdate' class="form-control" name="sex"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>出生日期</label>
                            <input type="date" value="" id='birthdayUpdate' class="form-control" name="birthday"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_update" class="btn btn-primary">修改</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <!-- 删除模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="deleteUserDetail" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/user-detail/deleteUserDetail}" method="post" id="deleteCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">删除用户详情</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="detailId" value="" id="deleteDetailId"/>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">删除</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <script>
        $(".userDetailEdit1").click(function (){
            var detailId = $(this).parent().parent().children().eq(1).text();
            var nickname = $(this).parent().parent().children().eq(3).text();
            var realname = $(this).parent().parent().children().eq(4).text();
            var sex = $(this).parent().parent().children().eq(5).text();
            var birthday = $(this).parent().parent().children().eq(9).text();
            $("#detailIdUpdate").val(detailId);
            $("#nicknameUpdate").val(nickname);
            $("#realnameUpdate").val(realname);
            $("#sexUpdate").val(sex);
            $("#birthdayUpdate").val(birthday);
        })

        $(".userDetailEdit2").click(function () {
            var detailId = $(this).parent().parent().children().eq(1).text();
            $("#deleteDetailId").val(detailId);
        })

        $(".add_btn").click(function () {
            var ip=returnCitySN['cip'];
            var cname = returnCitySN["cname"];
            $("#ip").val(ip);
            $("#cname").val(cname);
        })

    </script>

    <script th:inline="javascript">
        var msg = [[${msg}]];
        $(document).ready(function () {
            if(msg!=null){
                swal({
                    title : "温馨提示",
                    text : msg
                });
            }
        });
    </script>

</body>
</html>