<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GBSS | 用户地址</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
    <!-- Sweet Alert -->
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>

    <!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    <!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>


</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation" th:include="/commons/nav :: navigation"></nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="border-bottom" th:include="/commons/header :: headerTop"></div>
            <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
                <div class="col-lg-10">
                    <h2>用户地址</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a th:href="@{/admin/dashboard}">首页</a>
                        </li>
                        <li>
                            <a>用户模块</a>
                        </li>
                        <li class="active">
                            <strong>用户地址</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>搜索&amp;操作</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <form action="/user-address/findUserAddress">
                                    <div class="row">
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="userId" name="userId" placeholder="按用户id查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="receiver" name="receiver" placeholder="按收件人查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <input id="telephone" name="telephone" placeholder="按电话号查找" class="form-control" type="text" />
                                        </div>
                                        <div class="col-sm-2 m-b-xs">
                                            <button class="btn btn-primary select_btn" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-sm-6 m-b-xs">
                                        <a class="btn btn-white add_btn" data-toggle="modal" data-target="#addUserAddress"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增用户地址&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <a class="btn btn-danger delete_btn" data-toggle="modal" data-target="#deleteAllUserAddress"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;批量删除&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>用户地址列表</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class=" table table-hover" data-page-size="10">
                                        <thead>
                                        <tr align="center">
                                            <td width="1%"><input type="checkbox" style="margin-right: 5px" name="allcheck"/></td>
                                            <td class="col-md-1">地址ID</td>
                                            <td class="col-md-1">用户ID</td>
                                            <td class="col-md-1">收件人</td>
                                            <td class="col-md-1">电话</td>
                                            <td class="col-md-1">国家</td>
                                            <td class="col-md-1">省份</td>
                                            <td class="col-md-1">城市</td>
                                            <td class="col-md-1">区</td>
                                            <td class="col-md-1">街道信息</td>
                                            <td class="col-md-1">邮编</td>
                                            <td class="col-md-1">是否为默认地址</td>
                                            <td class="col-md-1">创建时间</td>
                                            <td class="col-md-1">操作</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr align="center" th:each="userAddress : ${userAddressList}">
                                            <td><input type="checkbox" name="check" value="${userDetail.detailId}" class="del" style="margin-right: 5px" /></td>
                                            <td th:text="${userAddress.addressId}"></td>
                                            <td th:text="${userAddress.userId}"></td>
                                            <td th:text="${userAddress.receiver}"></td>
                                            <td th:text="${userAddress.telephone}"></td>
                                            <td th:text="${userAddress.country}"></td>
                                            <td th:text="${userAddress.province}"></td>
                                            <td th:text="${userAddress.city}"></td>
                                            <td th:text="${userAddress.area}"></td>
                                            <td th:text="${userAddress.street}"></td>
                                            <td th:text="${userAddress.zipcode}"></td>
                                            <td th:text="${userAddress.isDefaultAddress}"></td>
                                            <td th:text="${userAddress.creatTime}"></td>
                                            <td>
                                                <a data-toggle="modal" data-target="#updateUserAddress" title="修改" class="userAddressEdit1"><i class="fa fa-edit text-navy"></i></a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <a data-toggle="modal" data-target="#deleteUserAddress" title="删除" class="userAddressEdit2"><i class="fa fa-trash-o text-navy"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" th:include="/commons/footer :: footer"></div>
        </div>
    </div>

    <!-- 增加模态框，单击增加按钮，弹出表单 -->
    <div class="modal fade" id="addUserAddress" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/user-address/addUserAddress}" method="post" id="AddCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">添加用户积分</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <div>
                            <label>用户ID</label>
                            <input type="text" value="" id='userIdAdd' class="form-control" name="userId"
                                   title="" required=""/>
                            <label>收件人</label>
                            <input type="text" value="" id='receiverAdd' class="form-control" name="receiver"
                                   title="" required="" />
                            <label>电话</label>
                            <input type="tel" value="" id='telephoneAdd' class="form-control" name="telephone"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>国家</label>
                            <input type="text" value="" id='countryAdd' class="form-control" name="country"
                                   title="" required=""/>
                            <label>省份</label>
                            <input type="text" value="" id='provinceAdd' class="form-control" name="province"
                                   title="" required="" />
                            <label>城市</label>
                            <input type="text" value="" id='cityAdd' class="form-control" name="city"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>区</label>
                            <input type="text" value="" id='areaAdd' class="form-control" name="area"
                                   title="" required=""/>
                            <label>街道信息</label>
                            <input type="text" value="" id='streetAdd' class="form-control" name="street"
                                   title="" required="" />
                            <label>邮编</label>
                            <input type="text" value="" id='zipcodeAdd' class="form-control" name="zipcode"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>是否为默认地址</label>
                            <input type="text" value="" id='isDefaultAddressAdd' class="form-control" name="isDefaultAddress"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_add" class="btn btn-primary">添加</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <!-- 修改模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="updateUserAddress" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/user-address/updateUserAddress}" method="post" id="updateCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">修改用户积分</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="addressId" value="" id="addressIdUpdate"/>
                        <!--<input type="hidden" name="status" value="1" id="status"/>-->
                        <div>
                            <label>用户ID</label>
                            <input type="text" value="" id='userIdUpdate' class="form-control" name="userId"
                                   title="" required="" readonly="readonly"/>
                            <label>收件人</label>
                            <input type="text" value="" id='receiverUpdate' class="form-control" name="receiver"
                                   title="" required="" />
                            <label>电话</label>
                            <input type="tel" value="" id='telephoneUpdate' class="form-control" name="telephone"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>国家</label>
                            <input type="text" value="" id='countryUpdate' class="form-control" name="country"
                                   title="" required=""/>
                            <label>省份</label>
                            <input type="text" value="" id='provinceUpdate' class="form-control" name="province"
                                   title="" required="" />
                            <label>城市</label>
                            <input type="text" value="" id='cityUpdate' class="form-control" name="city"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>区</label>
                            <input type="text" value="" id='areaUpdate' class="form-control" name="area"
                                   title="" required=""/>
                            <label>街道信息</label>
                            <input type="text" value="" id='streetUpdate' class="form-control" name="street"
                                   title="" required="" />
                            <label>邮编</label>
                            <input type="text" value="" id='zipcodeUpdate' class="form-control" name="zipcode"
                                   title="" required=""/>
                        </div>
                        <div>
                            <label>是否为默认地址</label>
                            <input type="text" value="" id='isDefaultAddressUpdate' class="form-control" name="isDefaultAddress"
                                   title="" required=""/>
                        </div>
                    </div>
                    <!-- modal-body -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_update" class="btn btn-primary">修改</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->


    <!-- 删除模态框，单击修改按钮，弹出表单 -->
    <div class="modal fade" id="deleteUserAddress" tabindex="-1" role="dialog" data-toggle="modal"
         aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog" style="width: 400px">
            <form class="addAdminform" th:action="@{/user-address/deleteUserAddress}" method="post" id="deleteCheck">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #00a0f0; color: white;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">删除用户积分</h4>
                    </div>
                    <!-- .modal-header -->
                    <div class="modal-body addModal">
                        <input type="hidden" name="addressId" value="" id="deleteAddressId"/>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default closeBtn"
                                data-dismiss="modal">取消
                        </button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">删除</button>
                    </div> <!-- modal-footer -->
                </div> <!-- /.modal-content -->
            </form>
        </div> <!-- /.modal-dialog -->
    </div>
    <!--.modal-->

    <script>
        $(".userAddressEdit1").click(function (){
            var addressId = $(this).parent().parent().children().eq(1).text();
            var userId = $(this).parent().parent().children().eq(2).text();
            var receiver = $(this).parent().parent().children().eq(3).text();
            var telephone = $(this).parent().parent().children().eq(4).text();
            var country = $(this).parent().parent().children().eq(5).text();
            var province = $(this).parent().parent().children().eq(6).text();
            var city = $(this).parent().parent().children().eq(7).text();
            var area = $(this).parent().parent().children().eq(8).text();
            var street = $(this).parent().parent().children().eq(9).text();
            var zipcode = $(this).parent().parent().children().eq(10).text();
            var isDefaultAddress = $(this).parent().parent().children().eq(11).text();
            $("#addressIdUpdate").val(addressId);
            $("#userIdUpdate").val(userId);
            $("#receiverUpdate").val(receiver);
            $("#telephoneUpdate").val(telephone);
            $("#countryUpdate").val(country);
            $("#provinceUpdate").val(province);
            $("#cityUpdate").val(city);
            $("#areaUpdate").val(area);
            $("#streetUpdate").val(street);
            $("#zipcodeUpdate").val(zipcode);
            $("#isDefaultAddressUpdate").val(isDefaultAddress);
        })

        $(".userAddressEdit2").click(function () {
            var addressId = $(this).parent().parent().children().eq(1).text();
            $("#deleteAddressId").val(addressId);

        })
    </script>

    <script th:inline="javascript">
        var msg = [[${msg}]];
        $(document).ready(function () {
            if(msg!=null){
                swal({
                    title : "温馨提示",
                    text : msg
                });
            }
        });
    </script>
</body>
</html>